* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Sora';
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FAFAF9;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }

  #card-container{
    width: 368px;
    border-radius: 10px;
    padding:16px;
    padding-bottom: 20px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    background-color:#FFFFFF;
  }
  img{
    border-radius: 9px;
    padding-bottom: 16px;
  }
  #tag-btn{
    width:80px;
    padding: 6px 16px;
    border-radius: 20px;
    background-color:#F2EAFD;
    color:#7C19EE;
    font-size:10px;
    font-weight: 600;
  }
  h2{
    padding-top: 16px;
    padding-bottom: 6px;
    font-size:18px;
    font-weight:600px;
    color:#20293A;
  }
  p{
    padding-bottom: 20px;
    font-size:14px;
    font-weight:300;
    color:#394150;
  }
  span{
    font-size:12px;
    font-weight: 400;
    color:#20293A;
  }
hr{
color:#E5EAF0;
}
